@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Global 변수 */
:root {
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);
  /* colors */
  --color-white: #fff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  /* size */
  --size-max-width: 1200px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "GmarketSansMedium";
  margin: 0;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
button {
  background-color: transparent; /* 요소의 배경색을 투명하게 설정 */
  outline: 0;
  border: 0;
}
button:focus {
  outline: 1px solid var(--color-accent);
}
.section {
  padding: 4rem;
  text-align: center;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description-box {
  display: flex;
  gap: 20px;
}

.description-box p {
  flex: 1;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
/* header */
.header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__logo__img {
  width: 36px;
  height: 36px;
}
.header__logo__title {
  font-size: 1.8rem;
}
.header__menu {
  display: flex;
  gap: 4px;
}
.header__menu__item {
  padding: 8px 16px;
}
.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent-variant);
}
.header__menu__item:active {
  border: 1px solid var(--color-accent-variant);
  border-radius: 4px;
}

/* Home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 7rem 1rem 5rem;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 3px solid var(--color-accent-variant);
  object-fit: cover; /* 이미지가 부모 요소의 크기에 맞춰 비율을 유지하면서 꽉 차도록 설정*/
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--string {
  color: var(--color-accent-variant);
}

.home__description {
  font-size: 1.5rem;
}

.home__contact {
  display: inline-block;
  background-color: var(--color-accent-variant);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent-variant);
}

/* about */
.skills {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem o;
}

.skill {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}
.skill__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent-variant);
  transition: all 300ms ease;
}

.skill:hover .skill__icon {
  transform: rotate(-15deg) scale(1.2);
}

.skill__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.jobs {
  text-align: start; /* 언어에 따라 시작위치를 다르게 설정 */
  margin: 0 20%;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}
.job__img {
  width: 350px;
  height: 250px;
}

.job__name {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.job__period {
  color: var(--color-primary);
  font-size: 1rem;
}

/* skills */
#skills {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
}

.tools {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
}

.tools__title {
  color: var(--color-accent-variant);
  margin: 1rem 0;
  font-size: 1.2rem;
}

.tools__coding {
  grid-row: span 2; /* 2개의 행을 차지하도록 설정 */
  padding: 1rem;
  background-color: var(--color-primary);
}

.bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 100px;
  background-color: var(--color-primary-variant);
}

.bar__value {
  height: 3px;
  background-color: var(--color-accent-variant);
}

.tools__tools {
  padding: 1rem;
}

.tools__etc {
  padding: 1rem;
  background-color: var(--color-primary);
  filter: brightness(150%);
}

#work {
  width: 100%;
  align-items: center;
}

.work__title {
  margin: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.work__projects {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 1.5rem;
}

.work__subject {
  display: flex;
  justify-content: center;
}

.work__subject__button {
  font-weight: bold;
}
